@import url('https://fonts.googleapis.com/css?family=Arvo|Goudy+Bookletter+1911|Oswald|Wellfleet');
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-family:"Arvo";
  font-weight:normal;
  font-size: 55px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

h2 {
  font-family:"Arvo";
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: Oswald;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin: 5px 0;
  padding: 0;
  z-index: 1;
  position: relative;
}

.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }

#header {
  width: 100%;
  background: url('../img/header-bg.png');
  height: 80px;
  position: fixed;
  margin-top: 30px;
  }
  #nav { width: 590px; float: right; margin-top: 20px; }
  #logo a { color: #fff; text-decoration: none; float: left; font-size: 30px; margin-top: 20px; color: #fff; font-family:"Product sans"; font-weight: bold; }
  #nav ul{
  list-style: none;
  display: block;
  margin: 0 auto;
  list-style: none;
  }
  #nav li{
  margin-top: 9px;
  float: left;
  padding-left: 21px;
  }
  #nav li a { color: #fff; opacity:0.6; font-size: 16px; text-decoration: none; font-family: Product sans; }
  #nav li a.active { color: #fff; opacity:1; border-bottom: 2px solid #fff; }
  #nav li a:hover { color: #fff; opacity:1; }

  .quotes {
    font-family: product sans;
    font-weight: normal;
    font-size: 30px;
    text-align: left;
    margin: 50px auto;
    }

     .author_name_white { font-family:"product sans"; margin: 70px 0 0 75px; color: #fff; font-size: 20px; }
     .author_name_gray { font-family:"product sans"; margin: 70px 0 0 75px; color: #94a4a4; font-size: 20px; }
     .quotes_container { width: 800px; margin: 0 auto; }
    #christmas_tree { background: url('../img/christmas-tree.png')no-repeat; width: 48px; height: 77px; margin: 0 auto; position: relative; bottom: -35px;}
    #divider { background: url('../img/divider.png')no-repeat; width: 300px; height: 35px; margin: 0px auto 27px auto; }
    #ribbon { background: url('../img/ribbon.png')no-repeat; width: 251px; height: 48px; margin: 0 auto; display: block; position: relative; top: -38px; }
    #snowflakes1 { background: url('../img/snowflakes.png')no-repeat; width: 24px; height: 21px; margin: 0 auto; display: block; position: relative; bottom: -54px; left: -102px; }
    #snowflakes2 { background: url('../img/snowflakes.png')no-repeat; width: 24px; height: 21px; margin: 0 auto; display: block; position: relative; bottom: -33px; right: -100px; }

    #slide1, #slide2{ width: 100%; }
#slide1{
background:url('../img/slide1.jpg') 50% 0 no-repeat fixed;
color: #333333;
height: 100vh;
margin: 0;
padding: 200px 0 0 0;
background-size: cover;
}
#slide2{
  font-family: product sans;
  background-color: #2d2d2d;
  color: #fff;
  height: 400px;
  padding: 100px 0 0 0;
  background-size: cover;
}
#slide3{
background: url(../img/slide3.jpg) 50% 0 no-repeat fixed;
color: #fff;
height: 100vh;
padding: 20vh 0 0 0;
background-size: cover;
}
#slide4{
background-color: #fff;
color: #333333;
height: 100px;
padding: 100px 0 200px 0;
}
#slide5{
background: url(../img/slide5.jpg) 50% 0 no-repeat fixed;
margin: 0 auto;
height: 100vh;
padding: 20vh 0 0 0;
color: #fff;
background-size: cover;
}

#slide6{
  background-color: #fff;
  color: #333333;
  height: 30vh;
  padding: 5vh 0;
  }
#slide7{
  background: url(../img/slide2.jpg) 50% 0 no-repeat fixed;
  margin: 0 auto;
  height: 100vh;
  padding: 20vh 0 0 0;
  color: #fff;
  background-size: cover;
}

#slide8{
  background-color: #fff;
  color: #333333;
  padding: 10vh 0 0 0;
  }

#slide9{
  background-color: #fff;
  color: #333333;
  height: 70vh;
  padding: 30vh 0;
}

#red{
  background-color: #fff;
  width: 50%;
  float: left;
  font-family: product sans;
  font-size: 4em;
  text-align: center;
}

#green{
  background-color: #fff;
  width: 50%;
  float: right;
  text-align: right;
  font-family: product sans;
  padding-right: 10%;
  padding-top: 5vh;
}

.imagesmall{
  width: 60px;
  border-radius: 2rem;
}

.linkport a{
  font-family: product sans;
  text-decoration: none;
  color: #fff;
  background-color: #34A853;
  padding: 15px;
  border-radius: 2rem;
  position: relative;
  font-size: 20px;
}

.linkport a:hover{
  border: 2px solid #fff;
  margin-left: -2px;
}

.linkport2 a{
  font-family: product sans;
  text-decoration: none;
  color: #fff;
  background-color: #4285F4;
  padding: 15px;
  border-radius: 2rem;
  position: relative;
  font-size: 20px;
}

.linkport2 a:hover{
  border: 2px solid #fff;
  margin-left: -2px;
  text-decoration: none;
}

.titlepro{
  font-family: product sans;
  margin: -2rem;
}

.copyright{
  text-align: center;
  font-family: product sans;
}

.fixME{
  text-decoration: none:
  color: #fff;
}

a{
  text-decoration: none;
}

.hoverwhite:hover{
  color: white;
}
