@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

.product{
  font-family: product sans;
}

.all-cards{
  padding: 2%;
}

.grow{
  transition: all .5s ease-in-out;
  border-radius: 2em;
}

.grow:hover{
  transform: scale(1.1);
}

.roundtop{
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.pill{
  border-radius: 2em;
}

.spacer12345{
  height: 0vh;
}

.background{
  background-image: url("https://changi.productions/img/portrait/portrait1.jpg")no-repeat cover;
height: 100%;
}
